html,
body {
	background-color: #1f2937;

	/*values to reset html and body*/

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
}

#container {
	display: grid;
	grid-template-rows: 1fr 20fr 1fr;
	grid-template-columns: 5fr 5fr 20fr 10fr 5fr;
	grid-template-areas:
		". h . n ."
		". m m m ."
		". f f f .";
}

header {
	display: grid;
	grid-area: h;
	/*background: red;*/
}

nav {
	display: grid;
	grid-area: n;
}

.logo {
	display: flex;
	color: #f9faf8;
	font-size: 24px;
	font-weight: 900;
}

#nav-menu {
	display: flex;
	/*background: yellow;*/
	justify-content: space-evenly;
	align-items: center;
	gap: 5vw;
}
.nav-menu-item {
	color: #e5e7eb;
	font-size: 18px;
}

main {
	display: grid;
	grid-area: m;
	background: green;
}

#text-image-container {
	display: flex;
	align-items: center;
}
#text-image-container #welcome-text-container {
	color: #f9faf8;
	font-size: 48px;
	font-weight: bolder;
}

#text-image-container p {
	color: #ebe8e5;
	font-size: 18px;
}
#text-image-container #image-placeholder-container {
	display: flex;

	background: #ebe8e5;
	width: 50vw;
	height: 35vh;
}

footer {
	display: grid;
	grid-area: f;
	background: blue;
}
