html,
body {
	background-color: #1f2937;

	/*values to reset html and body*/

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
}

#container {
	display: grid;
	grid-template-rows: 1fr 20fr 1fr;
	grid-template-columns: 5fr 5fr 20fr 10fr 5fr;
	grid-template-areas:
		". h . n ."
		"m m m m m"
		". f f f .";
}

header {
	display: grid;
	grid-area: h;
	/*background: red;*/
}

nav {
	display: grid;
	grid-area: n;
}

.logo {
	display: flex;
	color: #f9faf8;
	font-size: 24px;
	font-weight: 900;
}

#nav-menu {
	display: flex;
	/*background: yellow;*/
	justify-content: space-evenly;
	align-items: center;
	gap: 5vw;
}
.nav-menu-item {
	color: #e5e7eb;
	font-size: 18px;
}

main {
	display: grid;
	grid-area: m;
	/*background: green;*/
}

#text-image-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 11vw;
}
#welcome-text-container {
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;

	align-items: flex-start;
	color: #f9faf8;
	font-size: 48px;
	font-weight: bolder;

	width: 35vw;
	height: 35vh;
}
.welcome-text-item {
	margin-top: -10px;
	min-height: 0;
}

#welcome-text-container p {
	margin-top: 10vh;
	font-weight: 100;
}

#welcome-text-container button {
	display: flex;

	background-color: #3882f6;

	font-size: 15px;
	font-weight: 900;

	margin-top: 5vh;
	padding: 2vh 2vw;

	color: #f9faf8;
	justify-content: center;
	align-items: center;

	border: 0;
	border-radius: 8px;
}

#text-image-container p {
	color: #ebe8e5;
	font-size: 18px;
}
#text-image-container #image-placeholder-container {
	background: #ebe8e5;
	width: 40vw;
	height: 35vh;
}

.information-container {
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
	background: #f9faf8;
	height: 200vh;
	align-items: center;
	z-index: 1;
}

.title-information {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

.square-container {
	display: flex;
	justify-content: space-around;
	width: 80vw;
	margin-top: 20px;
}

.square-item {
	border: #3882f6 solid 5px;
	border-radius: 15px;
	width: 200px;
	height: 200px;
}

.square-subtexts-container {
	display: flex;
	font-size: 18px;
	font-weight: 200;
	color: #1f2937;
	width: 80vw;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.square-subtexts-item {
	width: 14vw;
}

.quote-container {
	display: flex;
	background-color: #e5e7eb;
	position: absolute;
	width: 100vw;
	height: 450px;
	justify-content: center;
	align-items: center;
	margin-top: 950px;
}

.quote-text {
	display: flex;
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	color: #1f2937;
	margin: 0 200px;
	justify-self: center;
}

.quote-text-author {
	justify-self: flex-end;
	align-self: flex-end;
	width: 500px;
	position: absolute;
	top: 350px;
	left: 950px;
}

footer {
	display: grid;
	grid-area: f;
	background: blue;
}
