html,
body {
	background-color: #1f2937;

	/*values to reset html and body*/

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
}

#container {
	display: grid;
	grid-template-rows: 1fr 20fr 1fr;
	grid-template-columns: 5fr 5fr 20fr 10fr 5fr;
	grid-template-areas:
		". h . n ."
		". m m m ."
		". f f f .";
}

header {
	display: grid;
	grid-area: h;
	/*background: red;*/
}

nav {
	display: grid;
	grid-area: n;
}

.logo {
	display: flex;
	color: #f9faf8;
	font-size: 24px;
	font-weight: 900;
}

#nav-menu {
	display: flex;
	/*background: yellow;*/
	justify-content: space-evenly;
	align-items: center;
	gap: 5vw;
}
.nav-menu-item {
	color: #e5e7eb;
	font-size: 18px;
}

main {
	display: grid;
	grid-area: m;
	/*background: green;*/
}

#text-image-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
#welcome-text-container {
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;

	align-items: flex-start;
	color: #f9faf8;
	font-size: 48px;
	font-weight: bolder;

	width: 35vw;
	height: 35vh;
}
.welcome-text-item {
	margin-top: -10px;
	min-height: 0;
}

#welcome-text-container p {
	margin-top: 15vh;
}

#welcome-text-container button {
	display: flex;

	background-color: #3882f6;

	font-size: 15px;
	font-weight: 900;

	margin-top: 5vh;
	padding: 2vh 2vw;

	color: #f9faf8;
	justify-content: center;
	align-items: center;

	border: 0;
	border-radius: 8px;
}

#text-image-container p {
	color: #ebe8e5;
	font-size: 18px;
}
#text-image-container #image-placeholder-container {
	background: #ebe8e5;
	width: 40vw;
	height: 35vh;
}

footer {
	display: grid;
	grid-area: f;
	background: blue;
}
